.theme-dark{
    --color-primary: #333421;
    --color-secondary: #3b1c0a;
    --color-bg: #000000;
    --color-card-bg: #3b1c0a;
    --color-accent: #333421;
    --font-color: #ffffff;
}

.theme-light {
    --color-primary: #00ffff;
    --color-secondary: #7ffd4;
    --color-bg: #ffffff;
    --color-card-bg: #ffffff;
    --color-accent: #00ffff;
    --font-color: #000000;
}

body {
    background-color: var(--color-bg);
    padding: 10px;
}

.header, .footer {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.card {
    color: var(--font-color);
}

.card-body {
    background-color: var(--color-card-bg);
}

.card-header {
    background-color: var(--color-secondary);
    transition: all 2s;
}

.card:hover .card-header {
    background-color: var(--color-primary);
} 

.img {
    background-color: var(--color-bg);
    height: 100px;
    background: url(../img/мистрбистштооо.png);
    background-size: cover;
    /* background-position: center; */
    cursor: pointer;
    transition: all 2s;
}

.img:hover {
    background-color: lightgreen;
}

.social-body {
    display: flex;
    justify-content: space-around;
}

.fa-brands {
    font-size: 35px;
    color: var(--font-color);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  